<script>
  document.getElementById('stud_third').classList.add("active");
</script>

<h1 style="color: red">Academic Scores</h1>

<div class="tab">
  <button class="tablinks" id="english_tab" onclick="openAcademic(event, 'english')">English Competency</button>
  <button class="tablinks" id="qualification_tab" onclick="openAcademic(event, 'academic')">Academic Scores</button>
  <button class="tablinks" id="experience_tab" onclick="openAcademic(event, 'experience')">Experiences</button>
  <button class="tablinks" id="preference_tab" onclick="openAcademic(event, 'preference')">Preference</button>
</div>

<div id="english" class="tabcontent">
  <%= render(partial: "users/profiles/student_academic_english") %>
</div>

<div id="academic" class="tabcontent">
  <%= render(partial: "users/profiles/student_academic_qualification") %>
</div>

<div id="experience" class="tabcontent">
  <%= render(partial: "users/profiles/student_academic_experience") %>
</div>

<div id="preference" class="tabcontent">
  <%= render(partial: "users/profiles/student_academic_preference") %>
</div>


 <script>
    function openAcademic(evt, academicName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(academicName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    var tabsName = "<%= tabName %>" != null ? "<%= tabName %>" : "english_tab";
    document.getElementById(tabsName).click();
  </script>
</div>
