<div class="line">
  <p style="color: darkorange; font-size: 20px;">Add Academic Scores</p>
</div><br><br>

<%= form_for current_user, url: {controller: :student, action: :add_academic, method: :patch, id: current_user.id} do
|f| %>

  <%= f.fields_for current_user.qualifications.new do |g| %>
    <%= hidden_field(:type, value='qualification') %>
    <%= label_tag(:highest_qualification, "Qualification:", class: 'labelExtraLarge') %>
    <%= g.select_tag(:criteria, options_for_select([["PHD", "phd"], ["Post Graduate", "post_graduate"], ["Under
    Graduate",
      "graduate"], ["Diploma", "diploma"],
      ["Certificate Or High School", "high_school"]]), class: 'borderlessInputLarge') %><br><br>

    <%= label_tag(:course, "Course:", class: 'labelExtraLarge') %>
    <%= g.text_field :course, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:overall_percentage, "Percentage:", class: 'labelExtraLarge') %>
    <%= g.text_field :overall_percentage, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:completed_year, "Completed Year:", class: 'labelExtraLarge') %>
    <%= g.date_field :completed_year, class: 'borderlessInputMedium' %><br><br>
  <% end %>

  <%= label_tag(:submit, "", class: 'labelExtraLarge') %>
  <%= f.submit 'Add', class: 'mediumSubmit' %>
<% end %><br>

<table class="table", style="width: 100%;">
  <tr style="height: 50px; background-color: #ddd;">
    <th>Qualification</th><th>Course</th><th>Percentage
    </th><th>Completed Year</th><th>Subject Count</th><th>Action</th>
  </tr>
  <% current_user.qualifications.select(&:persisted?).each do |g| %>
    <tr>
      <th><%= g.level %></th>
      <td><%= g.course %></td>
      <td><%= g.overall_percentage %></td>
      <td><%= g.completed_year %></td>
      <td>
        <%= render(partial: "users/profiles/student_academic_subject_modal", tabName: "Dal", locals: {qualification: g}) %>
      </td>
      <td><a style="color: red; " href="<%= root_url %>/student/<%= current_user.id
      %>/reload?destroy=true&type=qualification&type_id=<%=
        g.id %>">delete</a></td>
    </tr>
  <% end%>
</table>