<div class="line">
  <p style="color: darkorange; font-size: 20px;">Add English Competency</p>
</div><br><br>

<%= form_for current_user, url: {controller: :student, action: :add_academic, method: :patch, id: current_user.id} do |f| %>
  <%= f.fields_for current_user.english_competencies.new do |g| %>
    <%= hidden_field(:type, value='english') %>
    <%= label_tag(:competency_type, "Type:", class: 'labelLarge') %>
    <%= g.select_tag(:criteria, options_for_select(["IELTS", "PTE" ], "IELTS"), class: 'borderlessInputMedium') %>

    <%= label_tag(:expiry, "Expiry:", class: 'labelLarge') %>
    <%= g.date_field :expiry, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:overall_band, "Overall Band:", class: 'labelLarge') %>
    <%= g.number_field :overall_band, step: :any, class: 'borderlessInputMedium' %>

    <%= label_tag(:speaking, "Speaking:", class: 'labelLarge') %>
    <%= g.number_field :speaking,  step: :any, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:writing, "Writing:", class: 'labelLarge') %>
    <%= g.number_field :writing,  step: :any, class: 'borderlessInputMedium' %>

    <%= label_tag(:reading, "Reading:", class: 'labelLarge') %>
    <%= g.number_field :reading, step: :any, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:listening, "Listening:", class: 'labelLarge') %>
    <%= g.number_field :listening, step: :any, class: 'borderlessInputMedium' %><br>




  <% end %>
  <%= label_tag(:submit, "", class: 'labelLarge') %>
  <%= f.submit 'Add', class: 'mediumSubmit' %>
<% end %><br>

<table class="table", style="width: 100%;">
  <tr style="height: 50px; background-color: #ddd;">
    <th>Type</th><th>Expiry</th><th>Overall
    Bank</th><th>Speaking</th><th>Writing</th><th>Reading</th><th>Listening</th><th>Action</th>
  </tr>
  <% current_user.english_competencies.select(&:persisted?).each do |g| %>
    <tr>
      <th><%= g.competency_type %></th>
      <td><%= g.expiry %></td>
      <td><%= g.overall_band %></td>
      <td><%= g.speaking %></td>
      <td><%= g.writing %></td>
      <td><%= g.reading %></td>
      <td><%= g.listening %></td>
      <td><a style="color: red;" href="<%= root_url %>/student/<%= current_user.id %>/reload?destroy=true&type=english&type_id=<%= g.id %>">delete</a></td>
    </tr>
  <% end%>
</table>