<div class="top-space">
  <div class="subject_title" style="padding-bottom: 50px;">
    Invite Your Staff
  </div>

  <div>
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= name %>'>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <%= form_for User.new, url: { action: :invite, method: :post, id: current_user.id} do |f| %>
    <%= label_tag(:email, "Email:", class: 'labelLarge') %>
    <%= f.text_field :email, class: 'borderlessInputLarge' %><br><br>
    <%= f.hidden_field :password, value: 'Selise88' %>
    <%= f.fields_for :profile_attributes do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:mobile_no, "Mobile No:", class: 'labelLarge') %>
      <%= g.text_field :mobile_no, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:faculty, "Faculty:", class: 'labelLarge') %>
<!--      <%#= collection_select(:user, :faculty_id, current_user.university.faculties, :id, :name, class: 'borderlessInputLarge') %><br><br>-->
      <%= select_tag(:faculty_id, options_from_collection_for_select(current_user.university.faculties, :id,
        :name), class: 'borderlessInputLarge') %><br>
    <% end %>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Invite', class: 'largeSubmit' %>
  <% end %>
</div>