<div class="top-space">
  <div class="line">
    <span style="color: darkorange; font-size: 20px;"> University Detail </span>
  </div><br><br><br>
  <div>
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= name %>'>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <%= form_for @university, url: {controller: :university, action: :update, method: :put, id: @university.id} do |f| %>
    <%= label_tag(:uni_name, "University Name:", class: 'labelExtraLarge') %>
    <%= f.text_field :name, class: 'borderlessInputLarge' %>

    <%= label_tag(:campus, "Campus:", class: 'labelLarge') %>
    <%= f.text_field :campus, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:weblink, "Website Link:", class: 'labelExtraLarge') %>
    <%= f.text_field :weblink, class: 'borderlessInputLarge' %><br><br>

    <%= label_tag(:semester_living_expenses, "Living expenses:", class: 'labelExtraLarge') %>
    <%= f.number_field :semester_living_expenses, placeholder: "Uni logde per semester", class: 'borderlessInputMedium' %>
    (Average uni logde expenses per semester)
    <br><br>

    <%= label_tag(:remark, "Remark:", class: 'labelExtraLarge') %>
    <%= f.text_area :remark, class: 'extraLargeInput' %><br><br>
    <br><br><br>

    <div class="line">
      <span style="color: darkorange; font-size: 20px;"> Focal Contact </span>
    </div><br><br><br>

    <%= f.fields_for :focal_contact do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'borderlessInputMedium' %>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'borderlessInputMedium' %>

      <%= label_tag(:email, "Email:", class: 'labelLarge') %>
      <%= g.text_field :email, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:phone_no, "Phone No:", class: 'labelLarge') %>
      <%= g.text_field :phone_number, class: 'borderlessInputMedium' %><br><br>
    <% end %><br><br><br>

    <div class="line">
      <span style="color: darkorange; font-size: 20px;"> University Address </span>
    </div><br><br>

    <%= f.fields_for :address do |g| %>
      <%= label_tag(:street_no, "Street No:", class: 'labelLarge') %>
      <%= g.text_field :street_no, class: 'borderlessInputMedium' %>

      <%= label_tag(:street_name, "street Name:", class: 'labelLarge') %>
      <%= g.text_field :street_name, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:suburb, "Suburb:", class: 'labelLarge') %>
      <%= g.text_field :suburb, class: 'borderlessInputMedium' %>

      <%= label_tag(:post_code, "Post Code:", class: 'labelLarge') %>
      <%= g.text_field :post_code, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:city, "City:", class: 'labelLarge') %>
      <%= g.text_field :city, class: 'borderlessInputMedium' %>

      <%= label_tag(:country, "Country:", class: 'labelLarge') %>
      <%= g.text_field :country, class: 'borderlessInputMedium' %><br><br>
    <% end %>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Update', class: 'largeSubmit' %>
  <% end %>
</div>

<script>
  document.getElementById('uni_second').classList.add("active");
</script>

