<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#criteria").change(function(){
      var criteriaType = document.getElementById("criteria").value;
      if(criteriaType == 'experience')
      {
        document.getElementById("tooltip").textContent = "Set maximum weightage for 10 years";
      }
      else
      {
        document.getElementById("tooltip").textContent = "";
      }
    });
  });
</script>


<div>
  <% flash.each do |name, msg| %>
    <div class='alert alert-<%= name %>'>
      <%= msg %>
    </div>
  <% end %>
</div>

<%= form_for current_user.university, url: {controller: :university, action: :add_criteria, method: :patch, id:
  current_user.university_id} do |f| %>
  <div class="line">
    <span style="color: darkorange; font-size: 20px;">Create Your Rule</span>
  </div><br><br><br><br><br>

  <%= f.fields_for current_user.university.criteria_rules.new do |g| %>
    <%= hidden_field(:type, value='rule') %>
    <%= label_tag(:criteria, "Criteria Type:", class: 'labelLarge') %>
    <%= g.select_tag(:criteria, options_for_select([["English Competency", "english"], ["Academic",
      "academic"], ["Experience","experience"], ["Country","country"]]), class: 'borderlessInputLarge')
    %><br><br>

    <%= label_tag(:weightage, "Weightage:", class: 'labelLarge') %>
    <%= g.text_field :weightage, class: 'borderlessInputLarge' %>
    <%= label_tag(:tooltip, "", id: 'tooltip') %>
    <br><br>

    <%= label_tag(:description, "Description:", class: 'labelLarge') %>
    <%= g.text_area :description, class: 'extraLargeInput' %><br><br>
  <% end %>
  <%= label_tag(:submit, "", class: 'labelLarge') %>
  <%= f.submit 'Add', class: 'mediumSubmit' %>
<% end %><br>

<table class="table", style="width: 100%;">
  <tr style="height: 50px; background-color: #ddd;">
    <th>Criteria Type</th><th>Weightage</th><th>Description</th><th>Action</th>
  </tr>
  <% current_user.university.criteria_rules.select(&:persisted?).each do |g| %>
    <tr style="height: 50px;">
      <th><%= g.criteria %></th>
      <td><%= g.weightage %></td>
      <td><%= g.description %></td>
      <td><a href="<%= root_url %>/university/<%= g.university_id
      %>/reload?destroy=true&type=rule&type_id=<%= g.id %>">delete</a></td>
    </tr>
  <% end%>
</table>