<% @url = root_url+"search_engine/search_unit" %>
  <%= form_tag(@url, method: :get) do %>
    <%= hidden_field_tag(:course_id, @course.id) %>
    <%= label_tag(:search, "Unit Code/Name:", class: "labelExtraLarge") %>
    <%= text_field_tag :login_aei, params[:login_aei], class: 'borderlessInputLarge' %>
    <%= submit_tag('Search', class: "mediumSubmit") %>
  <% end %>

  <% if @units.present? %>
    <table class="table", style="width: 100%;">
      <tr style="height: 50px; background-color: lightgreen;">
        <th>
          Unit Code
        </th>
        <th>
          Unit Name
        </th>
        <th>
          Credit Point
        </th>
        <th>
          Action
        </th>
      </tr>

      <% @units&.each do |unit| %>
        <tr>
          <th>
            <%= unit.name %>
          </th>
          <th>
            <%= unit.code %>
          </th>
          <th>
            <%= unit.credit_point %>
          </th>
          <th>
            <%= form_for CourseUnit.new, url: {controller: :courses_unit, action: :create, method: :post} do |f| %>
              <%= f.hidden_field(:course_id, value: @course.id) %>
              <%= f.hidden_field(:unit_id, value: unit.id) %>
              <%= f.hidden_field(:login_aei, value: params[:login_aei]) %>
              <%= f.submit 'Add', class: 'smallSubmit' %>
            <% end %>
          </th>
        </tr>
      <% end %>

    </table>
  <% elsif params[:login_aei].present? %>
    <h3> No Result Found</h3>
  <%end%>
</div>
