<script>
  document.getElementById('uni_fourth').classList.add("active");
</script>

<div class="col-lg-2">
  <%= label_tag nil %>
</div>

<div class="col-lg-10">
  <div>
    <span style="color: darkorange; font-size: 20px;"> Search unit and add to list </span>
    <%= render(partial: "unit/text_change") %>
  </div>

  <div style="padding-top: 40px">
    <span style="color: darkorange; font-size: 20px;"> Unit Details </span>
    <span style="color: blue; font-size: 20px; padding-left: 80%">
      <a style="color: dodgerblue" href="<%= root_url %>course/<%= @course.id %>/unit/new">Create Unit</a>
    </span>
  </div>

  <div>
   <table class="table", style="width: 100%;">
     <tr style="height: 50px; background-color: #ddd;">
      <th width="300", height="40">Name</th>
      <th width="200", height="40">Code</th>
      <th width="200">Credit Point</th>
      <th width="200">Level</th>
      <th width="200">Action</th>
    </tr>
    <% @course_units.each do |cor_unit| %>
      <tr>
        <td height="40">
          <%= cor_unit.unit.code %>
        </td>

        <td height="40">
          <%= cor_unit.unit.name %>
        </td>

        <td height="40">
          <%= cor_unit.unit.credit_point %>
        </td>

        <td height="40">
          <%= cor_unit.unit.level %>
        </td>

        <td height="40">
          <a style="color: dodgerblue" href="<%= root_url %>course/<%= @course.id %>/unit/<%= cor_unit.unit.id %>">Edit</a>
          ||
          <%= link_to "Delete", courses_unit_path(id: cor_unit.id, login_aei: params[:login_aei]), method: :delete,
            :style=> "color: red;", data: { confirm: 'Are you sure?' }%>
        </td>
      </tr>
    <%end%>

  </table>
 </div>
</div>