<script>
  document.getElementById('uni_fourth').classList.add("active");
</script>

<div class="col-lg-3">
  <%= label_tag nil %>
</div>

<div class="col-lg-9">
  <span style="color: darkorange; font-size: 20px;"> Unit Creation </span>

  <div>
    <%= form_for @unit, url: {action: :create, method: :post, params:{course_id: @course.id}} do |f| %>
      <%= f.hidden_field :course_id, value: @course.id %><br><br>
      <%= label_tag(:code, "unit Code:", class: 'labelLarge') %>
      <%= f.text_field :code, class: 'borderlessInputMedium' %><br>

      <%= label_tag(:credit_point, "Credit Point:", class: 'labelLarge') %>
      <%= f.number_field :credit_point,  step: :any, class: 'borderlessInputMedium' %><br>

      <%= label_tag(:name, "Unit Name:", class: 'labelLarge') %>
      <%= f.text_field :name, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:level, "Level:", class: 'labelLarge') %>
      <%= f.select_tag(:level, options_for_select([["Certificate Or High School", "high_school"], ["Diploma", "diploma"],
        ["Under Graduate", "graduate"], ["Post Graduate", "post_graduate"], ["PHD", "phd"]]), class: 'borderlessInputLarge')
      %><br><br>

      <%= label_tag(:submit, "", class: 'labelLarge') %>
      <%= f.submit 'Create', class: 'mediumSubmit' %>
    <% end %>
  </div><br><br>

  <div>
    <table class="table", style="width: 100%;">
      <tr style="height: 50px; background-color: #ddd;">
        <th width="300", height="40">Name</th>
        <th width="200", height="40">Code</th>
        <th width="200">Credit Point</th>
        <th width="200">Level</th>
        <th width="200">Action</th>
      </tr>
      <% @units.each do |unit| %>
        <tr>
          <td height="40">
            <%= unit.code %>
          </td>

          <td height="40">
            <%= unit.name %>
          </td>

          <td height="40">
            <%= unit.credit_point %>
          </td>

          <td height="40">
            <%= unit.level %>
          </td>

          <td height="40">
            <a style="color: dodgerblue" href="<%= root_url %>course/<%= params[:course_id] %>/unit/<%= unit.id %>">Edit</a>
            ||
            <%= link_to "Delete", course_unit_path(course_id: params[:course_id], id: unit.id), method: :delete,
              :style=> "color: red;", data: { confirm: 'Are you sure?' }%>
          </td>
        </tr>
      <%end%>

    </table>
  </div>
</div>
</div>


