<div class="col-lg-2">
  <%= label_tag nil %>
</div>

<span class="alignCenter">
  <span style="color: darkorange; font-size: 20px;"> Update Unit </span><br><br>

  <%= form_for @unit, url: {action: :update, method: :put} do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %><br>
    <%= label_tag(:code, "unit Code:", class: 'labelLarge') %>
    <%= f.text_field :code, class: 'borderlessInputMedium' %><br>

    <%= label_tag(:credit_point, "Credit Point:", class: 'labelLarge') %>
    <%= f.number_field :credit_point, class: 'borderlessInputMedium' %><br>

    <%= label_tag(:name, "Unit Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'borderlessInputLarge' %><br><br>

    <%= label_tag(:level, "Level:", class: 'labelLarge') %>
    <%= f.select_tag(:level, options_for_select([["Certificate Or High School", "high_school"], ["Diploma", "diploma"],
      ["Under Graduate", "graduate"], ["Post Graduate", "post_graduate"], ["PHD", "phd"]]), class: 'borderlessInputLarge')
    %><br><br>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Update', class: 'mediumSubmit' %>
    <% end %>
</span>