<div class="col-lg-4">
  <%= label_tag :space, "" %>
</div>

<div class="col-lg-8">
  <table>
    <tr>
      <th>Course Name</th><th>Total Fees</th><th>Status</th><th>Action</th>
    </tr>
    <% @applications.each do |app| %>
      <tr>
        <th><%= app.course.name %></th>
        <td><%= app.course.total_fees %></td>
        <td><%= app.state %></td>
        <td><a href="<%= root_url %>application_progress/<%= app.id %>">view</a></td>
      </tr>
    <% end %>
  </table>
</div>