<script>
  document.getElementById('stud_fifth').classList.add("active");
</script>

<div class="col-lg-4">
  <%= label_tag :space, "" %>
</div>

<div class="col-lg-8">
  <div>
    <%= form_for(current_user, url: {action: :filter_application, method: :patch, id: current_user.id}) do |f| %>
      <%= label_tag(:filter, "Filter Application", class: 'labelExtraLarge') %>
      <%= f.select_tag :criteria, options_for_select([["All", "-1"], ["Waiting Offer Letter", "0"],
        ["Waiting SOP Submission", "2"], ["Waiting COE", "2"], ["Waiting Enrollment", "3"], ["Enrollment Confirmed", "4"],
        ["Application Rejected", "5"]]), class: 'borderlessInputLarge' %>
      <%= f.submit 'Search', class: 'mediumSubmit' %>
    <% end %><br><br><br>
  </div>


  <table class="table", style="width: 100%;">
    <tr style="height: 50px; background-color: #ddd;">
      <th>Course Name</th><th>Total Fees</th><th>Status</th><th>Action</th>
    </tr>
    <% @applications.each do |app| %>
      <tr>
        <th><%= app.course.name %></th>
        <td><%= app.course.total_fees %></td>
        <td><%= CONSTANTS[String(app.state_before_type_cast)+"_status"] %></td>
        <td><a href="<%= root_url %>application_progress/<%= app.id %>">view</a></td>
      </tr>
    <% end %>
  </table>
</div>