<div class="header_length_top">
  <%= form_for @user, url: {controller: :student, action: :create, method: :post} do |f| %>
    <%= label_tag(:email, "Email:", class: 'labelLarge') %>
    <%= f.text_field :email, class: 'borderlessInputLarge' %><br><br>
    <%= f.fields_for :profile do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:mobile_no, "Mobile No:", class: 'labelLarge') %>
      <%= g.text_field :mobile_no, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:recent_qualification, "Qualification:", class: 'labelLarge') %>
      <%= g.select_tag(:recent_qualification, options_for_select([["Certificate Or High School", "high_school"],
        ["Diploma", "diploma"], ["Under Graduate", "graduate"], ["Post Graduate", "post_graduate"], ["PHD", "phd"]]),
        class: 'borderlessInputLarge') %><br><br>
    <% end %>


    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Create Account', class: 'largeSubmit' %>
  <% end %>
</div>

<script>
  document.getElementById("second_tab").classList.add("active");
  document.getElementById("sub_label").value = "Register yourself to become a member for additional feature such as " +
    "course recommendation";
</script>
