<div style="padding-top: 200px; padding-left: 300px; padding-bottom: 20px;">
  <div class="line" style="line-height: 1.6; font-size: 16px;">
    <p>Register yourself and start applying to the courses of your choice. As a member, you can setup your profile and
      our portal will help you in <br>recommending some of the best courses aligned to your future career goals using
      Artifical Intelligence developed by our expertise.</p>
  </div>

  <div class="subject_title">
    Student Registration Form
  </div>

  <%= form_for @user, :validte=>true, url: {controller: :student, action: :create, method: :post} do |f| %>
    <%= label_tag(:email, "Email:", class: 'labelLarge') %>
    <%= f.text_field :email, class: 'borderlessInputLarge' %><br><br>
    <%= f.fields_for :profile do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:mobile_no, "Mobile No:", class: 'labelLarge') %>
      <%= g.text_field :mobile_no, class: 'borderlessInputLarge' %><br><br>

      <%= label_tag(:recent_qualification, "Qualification:", class: 'labelLarge') %>
      <%= g.select_tag(:recent_qualification, options_for_select([["Certificate Or High School", "high_school"],
        ["Diploma", "diploma"], ["Under Graduate", "graduate"], ["Post Graduate", "post_graduate"], ["PHD", "phd"]]),
        class: 'borderlessInputLarge') %><br><br>
    <% end %>


    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Create Account', class: 'largeSubmit' %>
  <% end %>
</div>

<script>
  document.getElementById("second_tab").classList.add("active");
  document.getElementById("sub_label").value = "Register yourself to become a member for additional feature such as " +
    "course recommendation";
</script>
