<div>
  <%= render(partial: "home/home_nav") %>
</div>

<div class="loginBG">
  <span class="alignCenter">
    <%= form_for User.new, url: {action: :create, method: :post} do |f| %>
      <%= label_tag(:email, "Email:", class: 'labelLarge') %>
      <%= f.text_field :email, class: 'largeInput' %><br><br>

      <%= label_tag(:password, "Password:", class: 'labelLarge') %>
      <%= f.password_field :password, class: 'largeInput', autocomplete: "off"%><br>

      <%= label_tag(:submit, "", class: 'labelLarge') %>
      <%= f.submit 'Login', class: 'mediumSubmit' %>
      <% end %>
  </span>
</div>
