<div>
  <%= render(partial: "home/home_nav") %>
</div>

<div>
  <%= form_tag(String(@user.id) + '/accept_invitation', method: :put) %>
  <%= hidden_field_tag(:invitation_token, @user.invitation_token) %>

  <%= label_tag(:password, "Password:", class: "labelText") %>
  <span class="largeInput">
    <%= password_field_tag(:password) %><br>
  </span>

  <%= label_tag(:password_confirmation, "Confirm Password:", class: "labelText") %>
  <span class="largeInput">
    <%= password_field_tag(:password_confirmation, class: "largeInput") %><br>
  </span>
  <%= submit_tag('Submit', class: "mediumSubmit") %>
</div>