<div class="top-space">
  <div class="line">
    University Detail
  </div><br><br><br><br><br>
  <%= form_for @university, url: {controller: :university, action: :update, method: :put, id: @university.id} do |f| %>
    <%= label_tag(:uni_name, "University Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'largeInput' %><br><br>

    <%= label_tag(:weblink, "Website Link:", class: 'labelLarge') %>
    <%= f.text_field :weblink, class: 'largeInput' %><br><br>

    <%= label_tag(:remark, "Remark:", class: 'labelLarge') %>
    <%= f.text_area :remark, class: 'largeInput' %><br><br>

    <div class="line">
      Personal Detail
    </div><br><br><br><br><br>

    <%= f.fields_for :focal_contact do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'largeInput' %><br><br>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'largeInput' %><br><br>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'largeInput' %><br><br>

      <%= label_tag(:email, "Email:", class: 'labelLarge') %>
      <%= g.text_field :email, class: 'largeInput' %><br><br>

      <%= label_tag(:phone_no, "Phone No:", class: 'labelLarge') %>
      <%= g.text_field :phone_number, class: 'largeInput' %><br><br>
    <% end %>

    <div class="line">
      Present Address
    </div><br><br><br><br><br>

    <%= f.fields_for :address do |g| %>
      <%= label_tag(:street_no, "Street No:", class: 'labelSmall') %>
      <%= g.text_field :street_no, class: 'smallInput' %>

      <%= label_tag(:street_name, "street Name:", class: 'labelLarge') %>
      <%= g.text_field :street_name, class: 'mediumInput' %><br><br>

      <%= label_tag(:suburb, "Suburb:", class: 'labelSmall') %>
      <%= g.text_field :suburb, class: 'mediumInput' %>

      <%= label_tag(:post_code, "Post Code:", class: 'labelSmall') %>
      <%= g.text_field :post_code, class: 'smallInput' %><br><br>

      <%= label_tag(:city, "City:", class: 'labelSmall') %>
      <%= g.text_field :city, class: 'mediumInput' %><br>

      <%= label_tag(:country, "Country:", class: 'labelSmall') %>
      <%= g.text_field :country, class: 'mediumInput' %><br><br>
    <% end %>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Update', class: 'largeSubmit' %>
  <% end %>
</div>

