<script>
  document.getElementById('uni_sixth').classList.add("active");
</script>

<div class="col-lg-2">
  <%= label_tag :space, "" %>
</div>

<div class="col-lg-10">
  <%= form_for(current_user.university, url: filter_student_university_path(current_user.university)) do |f| %>
    <%= label_tag(:filter, "Filter Course", class: 'labelLarge') %>
    <%= f.select_tag :criteria, options_for_select([["PHD", "phd"], ["Post Graduate", "post_graduate"], ["Under
    Graduate", "graduate"], ["Diploma", "diploma"], ["Certificate Or High School", "high_school"]], params[:criteria]), class:
      'borderlessInputLarge' %>
    <%= f.submit 'Search', class: 'mediumSubmit' %>
  <% end %><br><br><br>

  <table class="table", style="width: 100%;">
    <tr style="height: 50px; background-color: #ddd;">
      <th>Course Name</th><th>Total Fees</th><th>Total Application</th>
    </tr>
    <% @courses.each do |c| %>
      <tr>
        <th><%= c.name %></th>
        <td><%= c.total_fees %></td>
        <td><a href="<%= root_url %>application_progress?course_id=<%= c.id %>"><%= c.application_progresses.count
        %></td>
      </tr>
    <% end %>
  </table>
</div>