<div style="padding-top: 200px; padding-left: 300px; padding-bottom: 20px;">
  <div class="line" style="line-height: 1.6; font-size: 16px;">
    <p>Register your university and instantly start receiving prospective student's application from
    across the globe. Once you register your university,<br>you will receive an approval token from admin in
      your email with authorization to go ahead and setup your profile.
    <a href="<%= root_url %>university/search">Activate your account if you<br> receive your token after
      registration</a></p>
  </div>

  <div class="subject_title">
    University Registration Form
  </div>

  <%= form_for @uni, validate: true, url: {action: :create, method: :post} do |f| %>
    <%= label_tag(:uni_name, "University Name:", class: 'labelExtraLarge') %>
    <%= f.text_field :name, class: 'borderlessInputLarge' %>

    <%= label_tag(:campus, "Campus:", class: 'labelLarge') %>
    <%= f.text_field :campus, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:weblink, "Website Link:", class: 'labelExtraLarge') %>
    <%= f.text_field :weblink, class: 'borderlessInputLarge' %><br><br>


    <%= label_tag(:remark, "Remark:", class: 'labelExtraLarge') %>
    <%= f.text_area :remark, class: 'texareaMediumInput' %><br><br>
    <div class="subject_title">
      Focal Contact
    </div>

    <%= f.fields_for :focal_contact do |g| %>
      <%= label_tag(:firstname, "First Name:", class: 'labelLarge') %>
      <%= g.text_field :firstname, class: 'borderlessInputMedium' %>

      <%= label_tag(:middlename, "Middle Name:", class: 'labelLarge') %>
      <%= g.text_field :middlename, class: 'borderlessInputMedium' %>

      <%= label_tag(:lastname, "Last Name:", class: 'labelLarge') %>
      <%= g.text_field :lastname, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:phone_no, "Phone No:", class: 'labelLarge') %>
      <%= g.text_field :phone_number, class: 'borderlessInputMedium' %>

      <%= label_tag(:email, "Email:", class: 'labelLarge') %>
      <%= g.text_field :email, class: 'borderlessInputLarge' %>


    <% end %>

    <div class="subject_title">
      University Address
    </div>

    <%= f.fields_for :address do |g| %>
      <%= label_tag(:street_no, "Street No:", class: 'labelLarge') %>
      <%= g.text_field :street_no, class: 'borderlessInputMedium' %>

      <%= label_tag(:street_name, "Street Name:", class: 'labelLarge') %>
      <%= g.text_field :street_name, class: 'borderlessInputMedium' %>

      <%= label_tag(:suburb, "Suburb:", class: 'labelLarge') %>
      <%= g.text_field :suburb, class: 'borderlessInputMedium' %><br><br>

      <%= label_tag(:post_code, "Post Code:", class: 'labelLarge') %>
      <%= g.text_field :post_code, class: 'borderlessInputMedium' %>

      <%= label_tag(:city, "City:", class: 'labelLarge') %>
      <%= g.text_field :city, class: 'borderlessInputMedium' %>

      <%= label_tag(:country, "Country:", class: 'labelLarge') %>
      <%= g.text_field :country, class: 'borderlessInputMedium' %><br><br>
    <% end %>

    <span style="padding-left: 100px;">
      <%= label_tag(:submit, "", class: 'labelLarge') %>
      <%= f.submit 'Create Account', class: 'largeSubmit' %>
    </span>
  <% end %>
</div>

<script>
  document.getElementById("first_tab").classList.add("active");
  document.getElementById("sub_label").value = "Register yourself university and start accepting applications from " +
    "prospective students";
</script>