<div>
  <%= render(partial: "home/home_nav") %>
</div>

<span class="col-lg-3">
  <%= label_tag nil %>
</span>

<div class="col-lg-9">
  <%= form_for @uni, url: {action: :activate, method: :put, id: @uni.id} do |f| %>
    <%= f.hidden_field :token %>
    <%= label_tag(:uni_name, "University Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'largeInput' %><br><br>

    <%= f.fields_for :focal_contact do |g| %>
      <%= label_tag(:name, "Name:", class: 'labelLarge') %>
      <%= g.text_field :name, class: 'largeInput' %><br><br>

      <%= label_tag(:email, "Email:", class: 'labelLarge') %>
      <%= g.text_field :email, class: 'largeInput' %><br><br>

      <%= label_tag(:phone_no, "Phone No:", class: 'labelLarge') %>
      <%= g.text_field :phone_number, class: 'largeInput' %><br><br>

      <%= label_tag(:amount, "Amount:", class: 'labelLarge') %>
      <%= g.text_field(:id, class: 'largeInput') %><br><br>
    <% end %>


    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Activate', class: 'largeSubmit' %>
  <% end %>
</div>