<script>
  document.getElementById('uni_fourth').classList.add("active");
</script>

<h1>Academic Scores:</h1>

<div class="tab">
  <button class="tablinks" id="course_tab" onclick="openAcademic(event, 'course')">Course Detail</button>
  <button class="tablinks" id="english_tab" onclick="openAcademic(event, 'english')">English Competency</button>
  <button class="tablinks" id="subject_tab" onclick="openAcademic(event, 'subject')">Prerequisite Subjects</button>
</div>

<div id="course" class="tabcontent">
  <%= render(partial: "course/course_detail") %>
</div>

<div id="english" class="tabcontent">
  <%= render(partial: "course/english") %>
</div>

<div id="subject" class="tabcontent">
  <%= render(partial: "course/subject") %>
</div>

<div>
  <script>
    function openAcademic(evt, academicName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(academicName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    var tabsName = "<%= tabName %>" != null ? "<%= tabName %>" : "course_tab";
    document.getElementById(tabsName).click();
  </script>
</div>
