<%= form_for @course, url: {action: :update, method: :put} do |f| %>
  <%= f.fields_for :subjects_attributes do |g| %>
    <br><br>
    <%= hidden_field(:type, value='subject') %>
    <%= label_tag(:name, "Subject Name:", class: 'labelLarge') %>
    <%= g.text_field :name, class: 'borderlessInputLarge' %><br><br>

    <%= label_tag(:percentage, "Score:", class: 'labelLarge') %>
    <%= g.number_field :percentage, step: :any, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:description, "Description:", class: 'labelLarge') %>
    <%= g.text_area :description, class: 'extraLargeInput' %><br><br>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Add', class: 'mediumSubmit' %><br><br>
  <% end %>
<% end %><br><br>

<table class="table", style="width: 100%;">
  <tr style="height: 50px; background-color: #ddd;">
    <th>Name</th><th>Score</th><th>Description</th><th>Action</th>
  </tr>
  <% @course.subjects.select(&:persisted?).each do |g| %>
    <tr>
      <th><%= g.name %></th>
      <td><%= g.percentage %></td>
      <td><%= g.description %></td>
      <td><a style="color: red;" href="<%= root_url %>/university/<%= current_user.university_id
      %>/reload?destroy=true&type=subject&type_id=<%= g.id %>&course_id=<%= @course.id %>">delete</a></td>
    </tr>
  <% end%>
</table>