<div class="col-lg-4">
  <%= label_tag :space, "" %>
</div>

<div class="col-lg-8">
  <h2>
    Course Name: "<%= @course.name %>"<br><br>
    Total Fees: "<%= @course.total_fees %>"<br><br>

    <%= form_for ApplicationProgress.new, url: {controller: :application_progress, action: :create, method: :post} do |f| %>
      <%= f.hidden_field :course_id, value: @course.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.fields_for :attachables_attributes do |g| %>
        <%= g.file_field :file %>
      <% end %>

      <%= f.submit 'Apply', class: 'mediumSubmit' %>
    <%end %>
  </h2>
</div>
