<div class="col-lg-3">
  <%= label_tag nil %>
</div>

<div class="col-lg-9">
  <h1>Course Creation</h1><br>

  <%= form_for @course, url: {action: :create, method: :post} do |f| %>
    <%= f.hidden_field :faculty_id, value: @faculty.id %><br><br>
    <%= label_tag(:name, "Course Code:", class: 'labelLarge') %>
    <%= f.text_field :code, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:name, "Course Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:duration, "Total Semester:", class: 'labelLarge') %>
    <%= f.text_field :duration, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:total_fees, "Total Fees:", class: 'labelLarge') %>
    <%= f.text_field :total_fees, class: 'borderlessInputMedium' %><br><br>

    <%= label_tag(:course_category, "Category:", class: 'labelLarge') %>
    <%= select_tag(:course_category_id, options_from_collection_for_select(@course_categories, "id", "name"), class:
        'borderlessInputMedium') %><br><br>

    <%= label_tag(:rank, "Rank:", class: 'labelLarge') %>
    <%= f.select_tag(:rank, options_for_select([["Certificate Or High School", "high_school"], ["Diploma", "diploma"],
      ["Under Graduate", "graduate"], ["Post Graduate", "post_graduate"], ["PHD", "phd"]]), class: 'borderlessInputMedium')
    %><br><br>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Create', class: 'mediumSubmit' %>
  <% end %>

<!--    <div class="line">-->
<!--      English Competency-->
<!--    </div><br><br><br><br><br>-->

    <%#= render(partial: "course/course_criteria", locals: {tabName: 'english_tab'}) %>

    <%#= f.fields_for :english_competencies do |g| %>
      <%#= label_tag(:competency_type, "Type:", class: 'labelLarge') %>
<!--      <%#= g.text_field :competency_type, class: 'smallInput', readonly: "readonly" %><br><br>-->

      <%#= label_tag(:overall_band, "Overall Band:", class: 'labelLarge') %>
<!--      <%#= g.text_field :overall_band, class: 'smallInput' %><br><br>-->

      <%#= label_tag(:speaking, "Speaking:", class: 'labelLarge') %>
      <%#= g.text_field :speaking, class: 'smallInput' %>

      <%#= label_tag(:writing, "Writing:", class: 'labelLarge') %>
<!--      <%#= g.text_field :writing, class: 'smallInput' %><br><br>-->

      <%#= label_tag(:reading, "Reading:", class: 'labelLarge') %>
      <%#= g.text_field :reading, class: 'smallInput' %>

      <%#= label_tag(:listening, "Listening:", class: 'labelLarge') %>
<!--      <%#= g.text_field :listening, class: 'smallInput' %><br><br><br><br>-->
<!--    <%# end %><br><br>-->

<!--    <div class="line">-->
<!--      Academic Eligibility-->
<!--    </div><br><br><br><br><br>-->

    <%#= f.fields_for :academic_eligibilities do |g| %>
<!--      <%#= g.hidden_field :code, class: 'smallInput' %><br><br>-->

      <%#= label_tag(:eligibility_type, "Qualification:", class: 'labelLarge') %>
      <%#= g.text_field :eligibility_type, class: 'largeInput', readonly: "readonly" %>

      <%#= label_tag(:minimum_score, "Minimum Score:", class: 'labelLarge') %>
<!--      <%#= g.text_field :minimum_score, class: 'smallInput' %><br><br>-->
    <%# end %>


</div>