<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
  document.getElementById('stud_first').classList.add("active");
</script>

  <% if current_user.nil? %>
    <div class="col-lg-2">
      <%= label_tag :space, "" %>
    </div>

    <div>
      <div class="<%= search_position %>">
        <form method="get" id="search-form">
          <div class="input-group main-form-inputs search-text">
            <input type="text" name="term" id="term" class="form-control search-text" value="<%= params[:term] %>"
                   placeholder="search by name">
            <span class="input-group-btn">
            <button class="btn btn-default search-btn" type="submit">Search</button>
          </span>
          </div>
        </form>

        <div>
          <%= render(partial: "search_engine/search_result") %>
        </div>
      </div>
    </div>

  <% else %>
    <div class="col-lg-3">
      <%= label_tag :space, "" %>
    </div>
    <div class="col-lg-9">
      <span class="search-center">
        <br>
        <form method="get" action="search_engine" id="search-form">
          <div class="input-group main-form-inputs search-text">
            <input type="text" name="term" id="term" class="form-control search-text" value="<%= params[:term] %>"
                   placeholder="search by name">
            <span class="input-group-btn">
              <button class="btn btn-default search-btn" type="submit">Search</button>
            </span>
          </div>
        </form>

        <div>
          <%= render(partial: "search_engine/search_result") %>
        </div>
      </span>
    </div>
  <% end %>
</div>
</div>
