<div class="col-lg-2">
  <%= label_tag nil %>
</div>

<span class="alignCenter">
  <h1>Faculty Creation</h1><br>

  <%= form_for Faculty.new, url: {action: :create, method: :post} do |f| %>
    <%= label_tag(:name, "Code:", class: 'labelLarge') %>
    <%= f.text_field :code, class: 'largeInput' %><br><br>

    <%= label_tag(:name, "Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'largeInput' %><br><br>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Create', class: 'mediumSubmit' %>
    <% end %>
</span>