<div class="col-lg-2">
  <%= label_tag nil %>
</div>

<span class="alignCenter">
   <p style="color: darkorange; font-size: 20px;">Faculty Edit</p><br>

  <%= form_for @faculty, url: {action: :update, method: :put} do |f| %>
    <%= label_tag(:name, "Code:", class: 'labelLarge') %>
    <%= f.text_field :code, class: 'borderlessInputLarge' %><br><br>

    <%= label_tag(:name, "Name:", class: 'labelLarge') %>
    <%= f.text_field :name, class: 'borderlessInputLarge' %><br><br>

    <%= label_tag(:submit, "", class: 'labelLarge') %>
    <%= f.submit 'Update', class: 'mediumSubmit' %>
    <% end %>
</span>
