!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}/
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %title Ticket
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> 'true'
    = javascript_include_tag 'application', 'data-turbolinks-track'=> 'true'
  %body
    .container-fluid.ticket-wrapper
      %span.notify-text
        - if notice
          .alert.alert-success
            %button.close{'data-dismiss':'alert'} &times;
            = notice
        - if alert
          .alert.alert-danger
            %button.close{'data-dismiss':'alert'} &times;
            = alert
      = yield
      .modal-holder
      - if user_signed_in?
        .row.menuContent
          %a{href: home_index_path}
            %i.fa.fa-home

          %a.toggleNav{href: "javascript:void(0)"}
            %span
        / /.container
        #light.navigation_content
          %ul
            - if current_user.selise_admin?
              %a{href: ticketings_path(ticket_type: t('ticket.new_ticket'))}
                %li
                  = t('ticket.new_ticket')
            - if current_user.customer_admin?
              %a{href: ticketings_path(ticket_type: t('ticket.pending'))}
                %li
                  = t('ticket.pending')
            %a{href: ticketings_path(ticket_type: t('ticket.backlog'))}
              %li
                = t('ticket.backlog')
            %a{href: ticketings_path(ticket_type: t('ticket.completed'))}
              %li
                = t('ticket.completed')
            - if current_user.selise_admin?
              %a
                %li.download-report Download Report
            = link_to  destroy_user_session_path, method: :delete, class: 'logout-btn' do
              %li Logout

        #fade.black_overlay
    / Modal With Warning
    #Warning.modal.fade{"data-backdrop" => "false", :role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-body
            %h3= t('message.are_you_sure')
            %button.btn.btn-danger.confirmclosed{:type => "submit"}= t('message.confirm')
            %button.btn.btn-primary.cancel-btn{"data-dismiss" => "modal", :type => "button"}= t('message.cancel')

    / Download Report Modal
    #downloadReport.modal.fade{"data-backdrop" => "false", :role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %h4= t('message.download_report')
            %button.close.close-btn{"data-dismiss" => "modal"} ×
          .modal-body

            = form_tag(csv_generator_ticketings_path(format: :xlsx), method: :get) do
              %select#month{:name => "month"}
                %option{:value => ""} Select Month
              %select#year{:name => "year"}
                %option{:value => ""} Select Year
              = select_tag :company, options_from_collection_for_select(Company.all,'id','name')

              %br
              = submit_tag "Download Excel", class: "btn btn-info download"

  = render 'layouts/footer'
