<!DOCTYPE html>
  <html>
    <head>
      <title>Virtual Education Agent</title>
      <%= csrf_meta_tags %>
      <meta content="width=device-width, initial-scale=1">

      <%= action_cable_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <header>
        <div class="claim">
          <div class="center">
            <div class="text">Find your dream course through Virtual Education Agent</div>
          </div>
        </div>

        <%= header_nav %>
      </header>
      <main role="main">
        <%= yield %>
      </main>
    </body>
</html>